@primary-color: #0063B1; // 全局主色
@second-color: #333; // 副颜色
@highlight-color: #fadb14; // 高亮
@main-background-color: #fff; // 全局背景色
@base-interval: 20px; // 全局间距
@section-title-font-size: 26px; // 章节标题字体大小
@mobile-interval: 18px; // 移动设备下的间距
@hover-background-color: rgba(0, 0, 0, .025); //悬浮时的背景色
@footer-background-color: #f1f1f1;
@base-border-color: #e8e8e8; // 全局边框颜色
@text-color: rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@base-font-size: 14px;
@mobile-screen-width: 768px;

@navbar-height: 60px; //导航栏高度
@search-box-length: 350px;
@menu-item-font-size: 22px; //菜单字体大小
@menu-item-font-color: #333; //菜单字体颜色

@movie-poster-width: 200px; //电影海报宽度
@movie-poster-height: 300px; //电影海报高度
@movie-poster-width-mobile: 64px; // 移动端电影海报宽度
@movie-poster-height-mobile: 90px; //移动端电影海报高度
@movie-poster-container-height: 350px;
@img-radius: 10px;
@img-hover-transform-y: -6px;
@movie-rate-color: #f5222d; //电影评分图标颜色
@movie-rank-item-height: 40px;
@movie-rank-first-height: 160px;
@movie-rank-first-width: 120px;
@movie-title-font-size: 24px;
@movie-title-font-size-mobile: 17px;
@movie-description-font-size: 18px;
@movie-info-item-font-size: 20px;

@consumption-card-height: 130px;
@consumption-card-width: 90px;
@consumption-card-pic-interval: 10px;
